<div class = "container">
  <%# alternative %>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="card welcome-mesage">
        <div class="user-balance">
          <h1><%= @total_balance.to_i %> €</h1>
          <p>total balance</p>
        </div>
        <div class="user-summary">
          <h2 class="background-color-black-text-yellow" >Hello <%= current_user.first_name %>!</h2>
          <p><i class="fa-solid fa-dumbbell"></i> <%= current_user.participations.count %> active challenges</p>
          <p><i class="fa-sharp fa-solid fa-person-running"></i> <%= current_user.workouts.sum(:distance).round(1) %> Km. done this week</p>
          <p><i class="fa-sharp fa-solid fa-clock"></i> <%= current_user.workouts.sum(:duration).round(1) %> Hours this week</p>
        </div>
      </div>
    </div>
  </div>
  <%# Challenges cards %>
  <div class="row justify-content-center">
    <div class ="col-12">
      <div class="center-element"><h1 style="color=white;">Your <span class="yellow-border-font">Challenges</span></h1></div>
      <div class="background-color-black "><i class="fa-solid fa-circle-plus"></i> <%= link_to "Add new challenge", new_challenge_path%></div>
      <%# <div class="btn-plus"><%= link_to new_challenge_path do %>
        <%# <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      <%# </div> %>
      <% @challenges.each do |challenge| %>
        <div class="card">
          <%= link_to challenge_path(challenge) do %>
            <div class="challenge">
              <%# Circle progress in js %>

              <div class="circle-prog">
                <% if Date.today >= challenge.start_date %>
                  <div data-controller="chart" data-value= <%= (WeeklyProgress.find_by(challenge: challenge, user: current_user, week_num: challenge.current_week).progress / WeeklyProgress.find_by(challenge: challenge, user: current_user, week_num: challenge.current_week).week_goal.round(1))*100 %>></div>
                  <p>Weekly progress</p>
                <% else %>
                  <div data-controller="chart" data-value= <%= 0 %>></div>
                  <p>Weekly progress</p>
                <% end %>
              </div>

              <div class="challenge-summary">
                <h2 class="center-element"><%= challenge.name %></h2>
                <p><i class="fa-solid fa-calendar-days"></i>  <%= challenge.start_date.strftime('%-d %h, %C%y') %> - <%= challenge.end_date.strftime('%-d %h, %C%y') %></p>
                <p><i class="fa-solid fa-flag"></i>  <%= challenge.category %>: <strong><%= challenge.goal_qty.round(1) %></strong> <%= challenge.unit %>/week</p>
                <% if Date.today >= challenge.start_date %>
                  <p><i class="fa-solid fa-coins"></i> Current Balance: <strong><%= WeeklyProgress.find_by(challenge: challenge, user: current_user, week_num: challenge.current_week).balance.round(1) %> €</strong></p>
                  <% else %>
                  <p><i class="fa-solid fa-coins"></i> Current Balance: <strong><%= (challenge.price_cents / 100).round(1) %> €</strong></p>
                <% end %>
                <div class="list-group mt-3">
                  <% challenge.participations.each do |participation| %>
                    <%= link_to user_path(participation.user) do %>
                      <div data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= participation.user.first_name %>">
                        <%= cl_image_tag participation.user.photo.key, class: "avatar" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
