<div class = "container">
  <div class="row justify-content-center">
    <div class="col-12 ">
      <div class="center-element">
        <h1 class="background-color-black" style="font-size:35px; margin-top:0; margin-bottom:15px;">
          <%= @challenge.name %>
        </h1>
      </div>
    </div>
  </div>

  <%# Progress bars with avatars bootstrap %>
  <div class="row justify-content-center">
    <div class ="col-12 ">
      <div class="dashboard">
        <div class="remaining-days">
          <h1><%= (@challenge.end_date - Date.today).to_i %> days</h1>
          <p>Remaining</p>
        </div>
        <div class="balance-info">
          <div class="dashboard-item mb-3">
            <h2 ><%= @user_last_progress.balance %> €</h2>
            <p>balance</p>
          </div>
          <div class="dashboard-item">
            <h2><%= (@user_last_progress.balance - @challenge.price).abs %> €</h2>
            <% if (@user_last_progress.balance - @challenge.price) >=0 %>
              <p>lost</p>
            <% else %>
              <p>won</p>
            <% end %>
          </div>
        </div>
      </div>


      <div class="card">
        <h2>Challenge Progress</h2>
        <% @challenge.participations.each do |participation| %>
          <div class="challenge-progress">
            <div class="progress">
              <div class="progress-bar"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="<%= ( participation.user.weekly_progresses.sum(:progress)  / @challenge.challenge_qty ) * 100 %>%"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width:<%= ( participation.user.weekly_progresses.sum(:progress)  / @challenge.challenge_qty ) * 100%>%">
                  <%#<span class= "value"><%= ( participation.user.weekly_progresses.sum(:progress)  / @challenge.challenge_qty ) * 100 %>
                  <span class= "icon"><%= cl_image_tag participation.user.photo.key, class:"avatar-small"%></span>
                  <%# ( participation.user.weekly_progresses.sum(:progress)  / @challenge.challenge_qty ) * 100 %>
              </div>
            </div>
            <span class="challenge-info"><%=participation.user.weekly_progresses.sum(:progress)%> / <%= @challenge.challenge_qty%> <%= @challenge.unit %></span>
          </div>
        <% end %>
      </div>


      <%# Circle progress in js %>
      <div class="card">
        <h2>Weekly goal: <span style="color:#f1bf0a;;"><%= @challenge.goal_qty%> <%= @challenge.unit%></span></h2>
        <div class="weekly-prog">
          <% @challenge.participations.each do |participation| %>
            <div class="wrapping">
              <div class="list-group image-percent">
                <div data-controller="chart" class="imgfondo" data-chart-target="graph" data-value=<%= WeeklyProgress.find_by(challenge: @challenge, user: participation.user, week_num: @challenge.current_week).progress %>>
                    <div data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= participation.user.first_name %>">
                      <%= cl_image_tag participation.user.photo.key, class: "avatar-progress stack-top" %>
                    </div>
                </div>
              </div>
              <span class="weekly-value"><%= participation.user.weekly_progresses.sum(:progress).round(1) %> <%= @challenge.unit %><br> achieved</span>
            </div>
          <% end %>
        </div>
        <div class="share">
          <%= link_to new_challenge_participation_path(@challenge) do%>
            <i class="fa-solid fa-link"></i>
          <% end %>
        </div>
      </div>

      <% if @challenge.participations.count > 1 %>
        <div data-controller="reveal" data-reveal-hidden-class="d-none">
          <button data-action="click->reveal#toggle" type="button" class="btn btn-sting">
            Stinger Cards
          </button>
          <div data-reveal-target="item" class="d-none mt-4">
            <div class="card card-body">
              <h2>Let's sting your enemies</h2>
              <%# Each card %>
              <div class= "d-flex flex-row">
                <% @user_cards.each do |card| %>
                  <% if card.used == false %>
                    <div class="flip-box">
                      <div class="flip-box-inner">
                        <div class="flip-box-front">
                          <%= image_tag "face_down_card.png", alt: "StingyCard", class:"StingyCard" %>
                        </div>
                        <div class="flip-box-back">
                          <%= link_to select_participant_challenge_participation_path(@challenge, @user_participation, card: card.id) do%>
                            <%= image_tag card.action , alt: "CardValue", class:"CardValue" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
      <% end %>

      <div data-controller="insert-message" class="messagebox">
        <div data-insert-message-target="messages" class="allmessages">
          <% @challenge.messages.each do |m| %>
            <% if m.user == current_user %>
              <%= render "messages/message", message: m, css_class_one: "message-current-user" %>
              <%# <% elsif m.stingy %>
              <%# <%= render "messages/message", message: m, css_class_one: "message-stingy" %>
            <% else %>
              <%= render "messages/message", message: m, css_class_one: "message-user" %>
            <% end %>
          <% end %>
        </div>
        <%= render "messages/new_message", message: @message, challenge: @challenge %>
      </div>

    </div>
  </div>
</div>
